[submodule "vendor/plugins/dataset"]
	path = vendor/plugins/dataset
	url = git://github.com/aiwilliams/dataset.git
[submodule "vendor/extensions/feed_reader"]
	path = vendor/extensions/feed_reader
	url = git://github.com/seancribbs/radiant-feed-reader-extension.git
[submodule "vendor/extensions/reorder"]
	path = vendor/extensions/reorder
	url = git://github.com/radiant/radiant-reorder-extension.git
